{% extends 'base.html.twig' %}

{% block title %}Desire index
{% endblock %}

{% block body %}
	<h1>Desire index</h1>
	<a href="{{ path('app_desire_new') }}">
		<button type="button" class="btn btn-danger">Créer une nouvelle envie</button>
	</a>

	<div class="container">
		<div class="row">
			<div class="col-md-12 mx-auto">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col-4">Name</th>
							<th class="col-4">Budget</th>
						</tr>
					</thead>
					<tbody>
						{% if desires is defined %}
							{% for desire in desires %}
								<tr>
									<td class="col-3">{{ desire.name }}</td>
									<td class="col-3">{{ desire.budget|format_currency('EUR') }}</td>
									<td class="col-3">
										<a href="{{ path('app_desire_show', {'id': desire.id}) }}">show</a>
										<a href="{{ path('app_desire_edit', {'id': desire.id}) }}">edit</a>
									</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td colspan="4">no records found</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
