{% extends 'base.html.twig' %}

{% block title %}Desire
{% endblock %}

{% block body %}
	<h1>Desire</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Name</th>
				<td>{{ desire.name }}</td>
			</tr>
			<tr>
				<th>Budget</th>
				<td>{{ desire.budget }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_desire_index') }}">back to list</a>

	<a href="{{ path('app_desire_edit', {'id': desire.id}) }}">edit</a>

	{{ include('desire/_delete_form.html.twig') }}
{% endblock %}
